.App {
 display: flex;
 flex-direction: column;
 padding: 3rem;
}
.progress {
	display: flex;
	margin-bottom: 2rem;
}
.progress-item {
	height: 0.7rem;
	width: 100%;
	border: 1px solid black;
}
.successful {
	background-color: black;
}
.active {
	background-color: brown;
}

.title-and-time {
	display: flex;
	margin-top: 2rem;
}
.test-ended {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.button-restart {
	padding: 0.4rem;
	background-color: rgb(33, 22, 233);
	border: none;
	color: white;
	border-radius: 4px;
	cursor: pointer;
}